<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<meta charset="utf-8">
	<meta name="description" content="Paws is a social site that can be used to explore and view various different cute animals of different types.">
	<meta property="og:site_name" content="Paws">
	<meta property="og:title" content="Paws">
	<meta property="og:type" content="website">
	<meta property="og:description" content="Paws is a social site that can be used to explore and view various different cute animals of different types.">
	<meta property="og:image" content="https://media.discordapp.net/attachments/969592495153492071/975845789848993842/unknown.png">
	<meta property="og:image:type" content="image/png">
	<!-- <meta property="og:image:width" content="1280">
	<meta property="og:image:height" content="800"> -->
	<meta property="og:url" content="https://qtpaws.vercel.app/">
	<meta property="twitter:card" content="summary_large_image">
	<link rel="canonical" href="https://qtpaws.vercel.app/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Paws Land</title>
</head>
<body>
    <header>
        <div class="nav">
            <i class="fa fa-github" aria-hidden="true" onclick="window.open('https://github.com/NotCookey/Paws', '_blank').focus()"></i>
            <div class="brand">
                <h1>PAWS</h1>
            </div>
            <i class="fa fa-info" id="myBtn"></i>
        </div>
    </header>
    <br><br>
    <main id="main">
		{% if paws %}
			{% for paw in paws %}
				<div class="card">
					<div class="img">
						<img src='{{paw}}' class="paw">
					</div>
				</div>
				<br>
			{% endfor %}
		{% endif %}
    </main>
    <div id="particles-js"></div>
	<div id="myModal" class="modal">
		<div class="modal-content">
			  <div class="modal-header">
				<span class="close">&times;</span>
				<h2>Project Paw Developed By Konoa</h2>
			  </div>
			  <div class="modal-body">
				<p>Twitter : <b>https://twitter.com/NotCookey</b></p>
				<br>
				<p>GitHub : <b>https://github.com/NotCookey</b></p>
				<br>
				<p>Email : <b>kanao@secrets.anonaddy.me</b></p>
			  </div>
			  <div class="modal-footer">
				<h3> </h3>
			  </div>
		  </div>
	  </div>
	<div id="sentinel">
		<div class="spinner-border" role="status"></div>
	</div>
	</body>
	<script src="{{url_for('static',filename='vendor/jquery.js')}}"></script>
	<script src="{{url_for('static',filename='vendor/particles.min.js')}}"></script>
    <script src="{{url_for('static',filename='scripts/main.js')}}"></script>
	<script>
		particlesJS("particles-js", {
			"particles": {
				"number": {
					"value": 69,
					"density": {
						"enable": true,
						"value_area": 800
					}
				},
				"color": {
					"value": "#ffffff"
				},
				"shape": {
					"type": "circle",
					"stroke": {
						"width": 0,
						"color": "#000000"
					},
					"polygon": {
						"nb_sides": 3.7000000000000006
					},
					"image": {
						"src": "",
						"width": 250,
						"height": 200
					}
				},
				"opacity": {
					"value": 0.3,
					"random": true,
					"anim": {
						"enable": false,
						"speed": 1,
						"opacity_min": 0.1,
						"sync": false
					}
				},
				"size": {
					"value": 10,
					"random": true,
					"anim": {
						"enable": false,
						"speed": 63,
						"size_min": 0.4700000000000001,
						"sync": false
					}
				},
				"line_linked": {
					"enable": false,
					"distance": 150,
					"color": "#ffffff",
					"opacity": 0.4,
					"width": 1
				},
				"move": {
					"enable": true,
					"speed": 1.6,
					"direction": "none",
					"random": true,
					"straight": false,
					"out_mode": "out",
					"bounce": false,
					"attract": {
						"enable": false,
						"rotateX": 600,
						"rotateY": 1200
					}
				}
			},
			"interactivity": {
				"detect_on": "window",
				"events": {
					"onhover": {
						"enable": false,
						"mode": "repulse"
					},
					"onclick": {
						"enable": true,
						"mode": "repulse"
					},
					"resize": true
				},
				"modes": {
					"grab": {
						"distance": 400,
						"line_linked": {
							"opacity": 1
						}
					},
					"bubble": {
						"distance": 100,
						"size": 40,
						"duration": 2,
						"opacity": 8,
						"speed": 3
					},
					"repulse": {
						"distance": 100,
						"duration": 0.35
					},
					"push": {
						"particles_nb": 4
					},
					"remove": {
						"particles_nb": 2
					}
				}
			},
			"retina_detect": true
		});
	</script>
</html>
